{
    "parser": "babel-eslint",
    "env": {
      "es6":true,
      "browser":true,
     "node":true
    },
    "rules": {
      "linebreak-style":"off",
      "arrow-parens":"off",
      "max-len":"off",
      "semi":"off",
      "comma-dangle":"off",
      "spaced-comment":"off",
      "indent":"off",
      "quotes":"off",
      "key-spacing":"off",
      "no-unused-vars":"off",
      "object-curly-spacing":"off",
      "eol-last":"off",
      "require-jsdoc":"off",
      "padded-blocks":"off",
      "operator-linebreak":"off",
      "prefer-const":"off",
      "new-cap":"off"
    },
    "extends": ["eslint:recommended", "google"]
}